@{ 
    Layout = "_FinalLayout";
}
<html>
<head>
    <title>Attendance</title>
    <style>
        #wrapper {
            width: 100%;
            height: 500px;
            display:contents;
            align-items: center;
            justify-content: center;
            
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row clearfix">
            <h1 style="text-align:center;">@ViewBag.Messege Tejas !!!</h1>
        </div>
        <div id="wrapper">
            <h6 style="text-align:center;">Start Time :- 10:00:00 AM</h6>
            <button style="font-size:x-large;" type="button" class="btn btn-block btn-lg btn-primary waves-effect">In</button>
        </div>
        
        
    </div>
</body>
</html>
