@{ 
    Layout = "_FinalLayout";
}
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>Employee Leave Request Form</h2>
                <small>Please fill in the form below if you need to leave work. All leave applications need to be approved by both the applicant and the manager.</small>
            </div>
            
            <div class="body">
                <form>
                    <label>Applicant Name</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="Enter your name here" />
                        </div>
                    </div>
                    <label for="email_address">Email Address</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="email_address" class="form-control" placeholder="Enter your email address">
                        </div>
                    </div>
                    <label>Mobile No.</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input class="form-control" placeholder="Enter your mobile no. here">
                        </div>
                    </div>

                    <label>Reason For Leave</label>
                    <div class="form-group">
                        <input type="checkbox" id="privilege" />
                        <label for="privilege">Privilege Leave</label>
                        <br />
                        <input type="checkbox" id="medical" />
                        <label for="medical">Medical Leave</label>
                        <br />
                        <input type="checkbox" id="casual" />
                        <label for="casual">Casual Leave</label>
                        <br />
                        <input type="checkbox" id="quarantine" />
                        <label for="quarantine">Quarantine Leave</label>
                        <br />
                        <input type="checkbox" id="festival" />
                        <label for="festival">Festival Leave</label>
                    </div>

                    <label for="first_day_of_absence">First day of absence</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="date" id="first_day_of_absence" class="form-control">
                        </div>
                    </div>

                    <label for="last_day_of_absence">Last day of absence</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="date" id="last_day_of_absence" class="form-control">
                        </div>
                    </div>

                    <label for="total_days">Total No. of days requested</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="total_days" class="form-control">
                        </div>
                    </div>

                    <label for="comments">Comments(optional)</label>
                    <div class="form-group">
                        <div class="form-line">
                            <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary m-t-15 waves-effect">Send Request</button>
                </form>
            </div>
        </div>
    </div>
    

</body>
</html>
